.mv_info{font-size: 12px;}
.mv_index{
    position: relative;
    width: 100%;
    height: 235px;
}
.mv_index .cover_img{
    position: absolute;
    left: 0;
    top: 0;
}
.mv_index .cover_img img{
    width: 100%;
    height: 235px;
    -ms-filter: blur(3px);
    filter: blur(3px);
}
.mv_index .progress{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: rgba(255,255,255,.4);
}
.name_time_list{
    margin: 10px;
}
.name_time_list .mv{
    border: 1px solid #000000;
    margin-right: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}